/*** Resets ***/

.popup-zen-box h1, .popup-zen-box h2, .popup-zen-box h3, .popup-zen-box h4 {
	clear: none;
}

.popup-zen-box h1 {
	font-size: 26px;
	line-height: 40px;
}

.popup-zen-box h2 {
	font-size: 22px;
	line-height: 36px;
}

.popup-zen-box h3 {
	font-size: 18px;
	line-height: 32px;
}

.popup-zen-box h4 {
	font-size: 16px;
	line-height: 28px;
}

.popup-zen-box form {
	margin: 0;
}

.popup-zen-box ul, .popup-zen-box ol {
	margin: 10px 0;
}

.popup-zen-box ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}

.popup-zen-box ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}

.popup-zen-box {
	opacity: 0;
	position: fixed;
	z-index: 99997;
	width: 100%;
	max-width: 325px;
	overflow: auto;
	background-color: #fff;
	border: 1px solid #eee;
	transition: all .3s;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 15px 2px rgba(106,106,106,.1);
	-moz-box-shadow: 2px 2px 15px 2px rgba(106,106,106,.1);
	box-shadow: 2px 2px 15px 2px rgba(106,106,106,.1);
}

.pzen-inside {
	position: relative;
}

.popup-zen-box .pzen-content, .pzen-form {
	padding: 15px;
	overflow: hidden;
}

.pzen-form {
	display: none;
}

.popup-zen-box .pzen-image {
	display: none;
	box-sizing: border-box;
}

.popup-zen-box .pzen-image.no-crop {
	padding: 15px 15px 0 15px;
}

.popup-zen-box .pzen-image.bg-cover {
	background-size: cover;
	height: 30vh;
	background-repeat: no-repeat;
	background-position: center;
}

.popup-zen-box .pzen-content {
	text-align: center;
	color: #999999;
}

.popup-zen-box .pzen-content p {
	font-size: 16px;
	margin-top: 0;
}

.popup-zen-box h3.pzen-title {
	text-align: center;
	font-size: 24px;
	color: #676976;
	margin-top: 10px;
	margin-bottom: 10px;
}

.popup-zen-box.pzen-bottomright {
	right: 45px;
	bottom: 0;
	-moz-transform: translateX(0px) translateY(15px);
	-webkit-transform: translateX(0px) translateY(15px);
	-o-transform: translateX(0px) translateY(15px);
	-ms-transform: translateX(0px) translateY(15px);
	transform: translateX(0px) translateY(15px);
}

.popup-zen-box.pzen-bottomleft {
	left: 45px;
	bottom: 0;
	-moz-transform: translateX(0px) translateY(15px);
	-webkit-transform: translateX(0px) translateY(15px);
	-o-transform: translateX(0px) translateY(15px);
	-ms-transform: translateX(0px) translateY(15px);
	transform: translateX(0px) translateY(15px);
}

.pzen-bottomright.pzen-show, .pzen-bottomleft.pzen-show, .pzen-bottomright.pzen-transition-in, .pzen-bottomleft.pzen-transition-in {
	-moz-transform: translateX(0px) translateY(0px);
	-webkit-transform: translateX(0px) translateY(0px);
	-o-transform: translateX(0px) translateY(0px);
	-ms-transform: translateX(0px) translateY(0px);
	transform: translateX(0px) translateY(0px);
}

.pzen-image.pzen-padding {
	padding: 15px;
}

.popup-zen-box .pzen-image {
	overflow: hidden;
}

.popup-zen-box img {
	display: block;
	max-width: 100%;
	height: auto;
	border: none;
	margin: 0 auto;
	border-radius: 0;
}

.popup-zen-box img.alignleft {
	margin: 0 5px 5px 0;
}

.popup-zen-box img.alignright {
	margin: 0 0 5px 5px;
}

.popup-zen-box iframe {
	height: auto;
}

.pzen-transition-in {
	opacity: 1 !important;
	-moz-transform: translateX(0px) translateY(0px);
	-webkit-transform: translateX(0px) translateY(0px);
	-o-transform: translateX(0px) translateY(0px);
	-ms-transform: translateX(0px) translateY(0px);
	transform: translateX(0px) translateY(0px);
}

.pzen-transition-out {
	opacity: 0 !important;
	-moz-transform: translateX(0px) translateY(15px);
	-webkit-transform: translateX(0px) translateY(15px);
	-o-transform: translateX(0px) translateY(15px);
	-ms-transform: translateX(0px) translateY(15px);
	transform: translateX(0px) translateY(15px);
}

.pzen-hide {
	display: none;
	opacity: 0;
	-moz-transform: translateX(0px) translateY(15px);
	-webkit-transform: translateX(0px) translateY(15px);
	-o-transform: translateX(0px) translateY(15px);
	-ms-transform: translateX(0px) translateY(15px);
	transform: translateX(0px) translateY(15px);
}

.pzen-show {
	display: block;
	opacity: 1 !important;
}

.pzen-close, .pzen-collapse {
	position: absolute;
	z-index: 3;
	top: 15px;
	right: 5px;
	cursor: pointer;
	line-height: 1;
	text-align: center;
}

.pzen-collapse {
	right: 25px;
	display: none;
}

.pzen-close i, .pzen-collapse i {
	color: #ccc;
	font-size: 12px;
	float: right;
}

.popup-zen-box p {
	margin-bottom: 5px;
}

.pzen-text i {
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: 16px;
	color: #999;
	cursor: pointer;
}

button.pzen-btn {
	width: 100%;
	height: 40px;
	background-color: #1191cb;
	color: #fff;
	border-radius: 0;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 15px 0 0;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	overflow: hidden;
	border: none;
}

button.pzen-btn:hover {
	background-color: #1191cb;
	border: none;
}

.pzen-powered-by {
	opacity: 0;
	text-align: center;
	padding: 0 0 5px 0;
	font-size: 10px;
	transition: opacity .3s;
}

.pzen-powered-by a {
    font-size: 10px;
    color: #bbb;
    text-decoration: none;
    text-align: center;
}

.pzen-powered-by a:visited, .pzen-powered-by a:hover {
	color: #bbb;
}

img.pzen-loading {
    display: block;
    margin: 10px auto;
    clear: both;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

#pzen-err {
    position: absolute;
    background: rgba(0,0,0,.9);
    left: 0;
    right: 0;
    display: block;
    z-index: -1;
    padding: 20px;
    color: #fff;
    transition: all .3s;
    opacity: 0;
    bottom: -10px;
}

#pzen-err.show-error {
	opacity: 1;
	bottom: 0;
	z-index: 2;
}

/*
 * Expanded
 */

.popup-zen-box.pzen-expanded .pzen-form, .popup-zen-box.pzen-expanded .pzen-image {
	max-height: 40vh;
	display: block;
	opacity: 1;
}

.popup-zen-box.pzen-expanded .pzen-expand-btn {
	display: none;
}

.pzen-expanded .pzen-powered-by {
	opacity: 1;
}

.pzen-expanded .pzen-collapse {
	display: block;
}

.pzen-success .pzen-collapse {
	display: none;
}

/*
 * Popup
 */

.pzen-popup.pzen-expanded .pzen-inside {
	width: 50%;
	float: right;
	overflow: hidden;
	position: relative;
}

.pzen-popup.pzen-expanded.pzen-no-image .pzen-inside {
	width: 100%;
	float: none;
	padding: 10px 20px;
}

.popup-zen-box.pzen-popup.pzen-expanded, .popup-zen-box.pzen-popup .pzen-image, .popup-zen-box.pzen-popup .pzen-form {
	transition: opacity .3s;
}

.pzen-backdrop {
	position: fixed;
	z-index: 99997;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba( 0,0,0,.7 );
	transition: opacity .3s;
}

.pzen-popup.pzen-expanded {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.1);
	-webkit-font-smoothing: antialiased;
	width: 80%;
	max-width: 800px;
	max-height: 80%;
	margin: auto;
	text-align: center;
	overflow: auto;
	height: auto;
	bottom: auto;
	right: auto;
}

.pzen-popup.pzen-expanded .pzen-image {
	width: 48%;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
	max-height: none;
	height: 100%;
}

.pzen-popup.pzen-expanded .pzen-image.no-crop img {
	position: absolute;
	max-width: 90%;
	margin: auto;
	top: 0;
	bottom: 0;
}

.pzen-popup.pzen-expanded .pzen-content {
	display: block;
}


.pzen-popup.pzen-expanded .pzen-title {
	font-size: 28px;
	margin-top: 15px;
}

.pzen-popup.pzen-expanded .pzen-form {
	text-align: left;
}

/*
 * Form with loading and success states
 */

.pzen-content {
	transition: transform .3s;
}

.pzen-email-btn:before {
	font-family: 'pzen-fontello';
	content: '\e838';
	position: absolute;
	height: 16px;
	width: 20px;
	margin: auto;
	top: 0;
	bottom: 0;
	transition: opacity .1s;
	opacity: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 1em;
	animation: pspin 1.5s linear infinite;
}

@keyframes pspin {
	0% { 
	transform: rotate(0); 
	}
	100% { 
	transform: rotate(360deg);
	}
}

.pzen-loading .pzen-email-btn:before, .pzen-success .pzen-email-btn:before {
	opacity: 1;
}

.pzen-loading .pzen-email-btn span, .pzen-success .pzen-email-btn span {
	text-indent: -999em;
	opacity: 0;
}

.pzen-loading .pzen-form, .pzen-success .pzen-form {
	opacity: .5 !important;
}

.pzen-success .pzen-form, .pzen-success .pzen-content {
	-webkit-transform: translate3d(-105%, 0, 0);
	transform: translate3d(-105%, 0, 0);
}

.pzen-loading .pzen-form:before {
	opacity: 1;
	top: 0;
}

.pzen-confirmation-message {
	position: absolute;
	font-size: 16px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 20px;
	margin: auto;
	transition: all .3s;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	height: 150px;
	width: 100%;
	text-align: center;
}

.pzen-popup.pzen-expanded .pzen-confirmation-message {
	top: 0;
}

/*.pzen-confirmation-message i {
	clear: both;
	font-size: 24px;
	display: block;
}*/

.pzen-success .pzen-confirmation-message {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/*
 * Media Queries
 */

@media (max-width: 810px) {

	.pzen-popup.pzen-expanded {
		width: 90%;
	}

	.pzen-popup.pzen-expanded .pzen-image, .pzen-popup.pzen-expanded .pzen-image.no-crop img {
		position: static;
		height: 30vh;
	}

}

@media (max-width: 600px) {
	.popup-zen-box.pzen-bottomright, .popup-zen-box.pzen-bottomleft {
		width: 100%;
		max-width: 100%;
		max-height: 94%;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: none;
		-moz-transform: translateX(0px) translateY(0px);
		-webkit-transform: translateX(0px) translateY(0px);
		-o-transform: translateX(0px) translateY(0px);
		-ms-transform: translateX(0px) translateY(0px);
		transform: translateX(0px) translateY(0px);
	}

	.pzen-popup.pzen-expanded .pzen-inside {
		float: none;
		width: 100%;
	}

	.pzen-popup.pzen-expanded .pzen-image {
		width: 100%;
		float: none;
		max-height: 30vh;
	}

	.pzen-popup.pzen-expanded {
		top: auto;
	}
}

@font-face {
  font-family: 'pzen-fontello';
  src: url('../font/pzen-fontello.eot?1543697');
  src: url('../font/pzen-fontello.eot?1543697#iefix') format('embedded-opentype'),
       url('../font/pzen-fontello.woff2?1543697') format('woff2'),
       url('../font/pzen-fontello.woff?1543697') format('woff'),
       url('../font/pzen-fontello.ttf?1543697') format('truetype'),
       url('../font/pzen-fontello.svg?1543697#pzen-fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pzen-fontello';
    src: url('../font/pzen-fontello.svg?1543697#pzen-fontello') format('svg');
  }
}
*/
 
.popup-zen-box [class^="icon-"]:before, .popup-zen-box [class*=" icon-"]:before {
  font-family: "pzen-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */

/*
 * Input animations
 */

.pzen-input {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-bottom: 30px;
}

.pzen-input.pzen-email-input {
	margin-bottom: 10px;
}

.pzen-input input[type=text], .pzen-input input[type=email] {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	height: 40px;
    background-color: transparent;
    box-shadow: none;
	box-sizing: border-box;
	padding: 8px 0;
	margin: 0;
    font-size: 16px;
    width: 100%;
}

.pzen-input input[type=text]:focus, .pzen-input input[type=email]:focus {
	background-color: transparent;
}

.pzen-field-animated {
	position: relative;
	display: block;
	float: right;
	border: none;
	border-radius: 0;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.pzen-field-animated:focus {
	outline: none !important;
}

.pzen-label-animated {
	display: inline-block;
	float: right;
	padding: 0;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 12px;
	color: #999;
}

.pzen-label-animated-content {
	position: relative;
	display: block;
	padding: .5em 0;
	width: 100%;
}

/* animated */

.pzen-field-animated {
	padding: 0.4em 0.25em;
	width: 100%;
}

.pzen-label-animated {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.pzen-label-animated-content {
	-webkit-transition: -webkit-transform 0.3s;
	transition: all 0.3s;
}

.pzen-field-animated:focus + .pzen-label-animated .pzen-label-animated-content, .input-filled + .pzen-label-animated .pzen-label-animated-content {
	-webkit-transform: translate3d(0, -70%, 0);
	transform: translate3d(0, -70%, 0);
}

/*
 * Check animation
 * https://codepen.io/haniotis/pen/KwvYLO
 */

.pzen-checkmark {
  width: 56px;
  height: 56px;
  margin: 5px auto 10px auto;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.pzen-checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.pzen-checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}